@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 1100px;
    margin: 0 auto;
}

header{
width: 100px;
height: 100vh;
}

nav{
    background: white;
    padding: 20px 0px;
}

nav .container{
    background-color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links{
    display: flex;
    gap: 30px;
    align-items: center;
}

.links-list{
    display: flex;
    gap: 30px;
}

.links-item{
    font-size: 16px;
    font-weight: 400;
}

.links-item a {
    color: rgba(27, 54, 93, 1);
}

nav .btn{
    color: rgba(27, 54, 93, 1);
    border-radius: 4px;
    padding: 6px 24px;
    border: 1px solid rgba(167, 187, 201, 1);
    font-weight: 700;
    background: transparent;
}

.header-img{
    
}